<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>.NET Fun Facts</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="content" id="app">
            <div class="fact-list">
                <div class="fact-section" v-for="fact in facts" :key="fact.id">
                    <a @click="setCurrentFact(fact.metadata.url)">{{ fact.metadata.title }}</a>
                    <div class="fact-body" v-html="fact.body" v-if="fact.metadata.url === currentFact">
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>
