body {
	width: 80%;
	margin: auto;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	text-align: justify;
}

a {
	color: blue;
	outline: 0;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

nav {
	float: right;
}

nav a {
	margin: 0px 10px;
}

header {
	margin-bottom: 5%;
}

h3 {
	font-size: 28px;
	text-align: left;
}

/* Formatting code blocks */
pre {
	/* Text wrapping */
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;

	background-color: lightgrey;
	padding: 20px 30px;
	border: 3px solid black;
}

code {
	font-size: 14px;
}

footer {
	margin-top: 10%;
	border-top: 3px solid black;
}

.fact-link-container {
	margin: 10px 0px;
}
